body {
    background-image: url(https://i.pinimg.com/originals/a5/be/1e/a5be1eab17eced32f3cf4493aa2a88b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.navbar {
    background-color: #A86464;
}

.navbar-brand {
    color: white;
    font-family: 'Emilys Candy', cursive;
    font-size: 50px;
}

.navbar-brand:hover {
    color: #C58940;
}


.navbar-nav,
.nav-link {
    color: white;
    font-family: 'Aboreto', cursive;
    font-size: 25px;
}

.navbar-nav:hover,
.nav-link:hover {
    color: #C58940;
}


.custom-toggler.navbar-toggler {
    border-color: white;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.header {
    max-width: 1773px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 45px;
    font-family: 'Emilys Candy', cursive;
    color: white;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Aboreto', cursive;


}